https://www.geeksforgeeks.org/exploratory-data-analysis-in-python/

https://www.analyticsvidhya.com/blog/2020/08/exploratory-data-analysiseda-from-scratch-in-python/

https://www.youtube.com/watch?v=JG8GRlMjp3c

https://www.youtube.com/watch?v=IkvwXPEBlNo

https://www.youtube.com/watch?v=-o3AxdVcUtQ

-----------------------

## Exploratory Data Analysis(EDA)

### Objective of EDA
- It is basically used to filter the data from redundancies.


1. EDA is a phenomenon under data analysis used for gaining a better understanding of data aspects like:


      – main features of data
      
      – variables and relationships that hold between them
      
      – identifying which variables are important for our problem

#### Exploratory data analysis is an approach to analyzing data sets by summarizing their main characteristics with visualizations.


 1. Basic Data Exploration
     - Read and examine a dataset and classify variables by their type: **quantitative vs. categorical**
     - Handle **categorical variables**


 2. Clean the data
 

 3. Perform **univariate and bivariate analysis** and derive meaningful insights about the dataset


 4. Identify and treat **missing values**


 5. Remove dataset **outliers**


 6. Build a **correlation matrix** to identify relevant variables

<h2 style="color:blue" align="left"> 1. Basic Data Exploration </h2>

- In this step, we will perform the below operations to check what the data set comprises of. We will check the below things:

   a. head()

   b. tail()

   c. shape

   d. info()

   e. columns

   g. describe

       i) if standard deviation is 0 for a particular variable, drop that variable from analysis

   h. nunique


1. The head function will tell you the top records in the data set. By default, python shows you only the top 5 records.


2. The shape attribute tells us a number of observations and variables we have in the data set. It is used to check the dimension of data. The cars data set has 303 observations and 13 variables in the data set.

        df.shape
        
        
3. info() is used to check the Information about the data and the datatypes of each respective attribute.

       df.info()
       
4. The described method will help to see how data has been spread for numerical values. We can clearly see the minimum value, mean values, different percentile values, and maximum values.

       df.describe()

<h3 style="color:green" align="left"> a. Descriptive Statistics </h3>


- Descriptive statistics is a helpful way to understand characteristics of your data and to get a quick summary of it.

- Pandas in python provide an interesting method describe().

- The describe function applies basic statistical computations on the dataset like

        i) Extreme values
    
       ii) count of data points
        
      iii) standard deviation etc.
    
       iv) Any missing value or NaN value is automatically skipped.
        
        v) describe() function gives a good picture of distribution of data.

In [2]:
import pandas as pd

In [4]:
url = "C:/Users/deepusuresh/Documents/Data Science/01. Python/8. EDA"
df = pd.read_csv("Chile.csv")
df.head(10)

   Unnamed: 0 region  population sex   age education   income  statusquo vote
0           1      N      175000   M  65.0         P  35000.0    1.00820    Y
1           2      N      175000   M  29.0        PS   7500.0   -1.29617    N
2           3      N      175000   F  38.0         P  15000.0    1.23072    Y
3           4      N      175000   F  49.0         P  35000.0   -1.03163    N
4           5      N      175000   F  23.0         S  35000.0   -1.10496    N
5           6      N      175000   F  28.0         P   7500.0   -1.04685    N
6           7      N      175000   M  26.0        PS  35000.0   -0.78626    N
7           8      N      175000   F  24.0         S  15000.0   -1.11348    N
8           9      N      175000   F  41.0         P  15000.0   -1.01292    U
9          10      N      175000   M  41.0         P  15000.0   -1.29617    N

In [5]:
df.describe()

        Unnamed: 0     population          age         income     statusquo
count  2700.000000    2700.000000  2699.000000    2602.000000  2.683000e+03
mean   1350.500000  152222.222222    38.548722   33875.864719 -1.118151e-08
std     779.567188  102198.039602    14.756415   39502.867120  1.000186e+00
min       1.000000    3750.000000    18.000000    2500.000000 -1.803010e+00
25%     675.750000   25000.000000    26.000000    7500.000000 -1.002235e+00
50%    1350.500000  175000.000000    36.000000   15000.000000 -4.558000e-02
75%    2025.250000  250000.000000    49.000000   35000.000000  9.685750e-01
max    2700.000000  250000.000000    70.000000  200000.000000  2.048590e+00

<h3 style="color:green" align="left"> b. value_counts() </h3>

For an instance suppose you are dealing with a dataset of customers who are divided as youth, medium and old categories under 

column name age and your dataframe is “DF”. You can run this statement to know how many people fall in respective categories. 

In our data set example education column can be used

In [6]:
df["education"].value_counts()

S     1120
P     1107
PS     462
Name: education, dtype: int64

<h3 style="color:green" align="left"> c. Grouping data </h3>

In [9]:
df.groupby(['education', 'vote']).mean()

                 Unnamed: 0     population        age        income  statusquo
education vote
P         A     1231.346154  141538.461538  40.653846  19489.795918  -0.207768
          N     1289.187970  148312.969925  43.018797  16650.763359  -0.926576
          U     1362.611486  129518.581081  46.091525  16783.216783   0.082548
          Y     1186.511848  107316.350711  44.902844  18469.512195   0.938229
PS        A     1363.750000  183476.562500  31.718750  48467.741935  -0.237501
          N     1374.111607  184492.187500  33.071429  63238.636364  -0.934572
          U     1562.019231  174447.115385  33.634615  58281.250000  -0.062994
          Y     1466.438462  179653.846154  35.469231  88252.032520   1.058944
S         A     1232.339806  161225.728155  32.029126  35176.767677  -0.165996
          N     1370.118388  175771.410579  32.438287  36071.428571  -0.885498
          U     1450.565401  175047.468354  34.489451  30325.112108   0.007525
          Y     1339.598071  144192.122186  35.993569  39975.328947   0.898503

If this group by output table is less understandable further analysts use

     i) pivot tables & heat maps for visualization on them.

<h3 style="color:green" align="left"> d. ANOVA </h3>

#  ANOVA stands for Analysis of Variance.

#  It is performed to figure out the relation between the different group of categorical data.

#  Under ANOVA we have two measures as result:

     – F-testscore : which shows the variaton of groups mean over variation
     
     – p-value: it shows the importance of the result
     
     
#  This can be performed using python module scipy method name f_oneway()

   Syntax:
   
      import scipy.stats as st
      st.f_oneway(sample1, sample2, ..)
      
      
   These samples are sample measurements for each group.
   
      As a conclusion, we can say that there is a strong correlation between other variables and a categorical variable if the 
   
      ANOVA test gives us a large F-test value and a small p-value.

In [10]:
import scipy.stats as st

st.f_oneway('age', 'income')

<h2 style="color:blue" align="left"> 2. Clean the data </h2>

### a. Missing values

- check for null values; df.isnull().sum()

### b. Handling Duplicate records

In [ ]:
# Check for duplicate data 
duplicate = df.duplicated()
print(duplicate.sum())
df[duplicate]

- Since we have 14 duplicate records in the data, we will remove this from the data set so that we get only distinct records. Post removing the duplicate, we will check whether the duplicates have been removed from the data set or not.

In [ ]:
# Write the code to drop the duplicates
df.drop_duplicates(inplace=True)

In [ ]:
# Check for duplicate data again
dpl = df.duplicated()
dpl.sum()

#### Remove all unnecessory redudant variables
    
i) Drop unimportant variables

    df.drop(['race', 'education'], axis=1)

ii) Drop duplicate rows

    df.drop_duplicates(keep='first')

### c. Replace space in column name

cars.columns.str.replace(' ', '')

<h2 style="color:blue" align="left"> 3. Univariate, Bivariate and Multivariate analysis </h2>

### Univariate Analysis

- **1. Categorical columns**

    - For Categorical values we can't do Summary statistics, Histogram & Probability distribution function

     i) **Count by category**

          cars.groupby('Make').size()
     
     ii) **Distribution of Categorical variables** by Box and Bar plots

          a) Bar plot
     
        - we use the **value_count() and plot.bar()** functions to draw a **bar plot**, which is commonly used for representing categorical data using rectangular bars with value counts of the categorical values.

              sales_data['MarketingType'].value_counts().plot.bar(title='Freq dist of Marketing Type')

   - Similarly, by changing the column name in the code above, we can analyze every categorical column.


- **2. Numerical columns**

    - univariate distribution of the **numerical columns** which contains the histograms.
    
    i) **Histogram**
        
           num_bins=10
        
           plt.hist(cars['length'], num_bins)

    ii) Probability distribution function. We use **displot** of the seaborn library to plot this graph

           sns.distplot(cars['length'], bins=10)

<h2 style="color:blue" align="left"> 5. Outlier detection analysis </h2>

- Outlier might indicate a **mistake in the data (like a typo, or a measuring error, seasonal effects etc)**, in which case it should be **corrected or removed** from the data before calculating **summary statistics or deriving insights from the data**, failing to which will lead to incorrect analysis.


- Outliers, being the most extreme observations, may include the sample maximum or sample minimum, or both, depending on whether they are extremely high or low. However, the sample maximum and minimum are not always outliers because they may not be unusually far from other observations.


- We Generally identify outliers with the help of boxplot, so here box plot shows some of the data points outside the range of the data.

#### boxplot which you can use through matplotlib module.

- Boxplot is a pictorial representation of distribution of data which shows extreme values, median and quartiles.

  
- We can easily figure out outliers by using boxplots.

  
- Now consider the dataset we’ve been dealing with again and lets draw a boxplot on attribute population

In [ ]:
df.boxplot(column=['income'])
plt.show()

![1. EDA Basic](image/8.JPG)

- Looking at the box plot, it seems that the variables INCOME, have outlier present in the variables. These outliers value needs to be teated and there are several ways of treating them:

 - Drop the outlier value
  
 - Replace the outlier value using the IQR

In [ ]:
# def remove_outlier(col):
# create a user defined function called remove_outlier for getting the threshold value from IQR
def remove_outlier(col):
    sorted(col)
    Q1,Q3 = col.quantile([0.25,0.75])
    IQR = Q3-Q1
    lower_range = Q1-(1.5 * IQR)
    upper_range = Q3+(1.5 * IQR)
    return lower_range, upper_range

In [ ]:
lowincome, uppincome = remove_outlier(df['income'])
df['income'] = np.where(df['income'] > uppincome, uppincome, df['income'])
df['income'] = np.where(df['income'] > lowincome, lowincome, df['income'])

In [ ]:
# Boxplot after removing outlier
df.boxplot(column=['income'])
plt.show()

![1. EDA Basic](image/9.JPG)

<h2 style="color:blue" align="left"> 6. Correlation and Correlation computation </h2>

#  Correlation is a simple relationship between two variables in a context such that one variable affects the other.

#  One way to calculate correlation among variables is to find Pearson correlation.
   
   Here we find two parameters namely, Pearson coefficient and p-value.
   
#  We can say there is a strong correlation between two variables when Pearson correlation coefficient is close to either 1 or 

   -1 and the p-value is less than 0.0001.
   
   
#  Scipy module also provides a method to perform pearson correlation analysis, syntax

          import scipy.stats as st
          st.pearsonr(sample1, sample2)

- To measure how strong a **relationship is between two variables**. Each attribute of the dataset is compared with the other attributes to find out the correlation coefficient. This analysis allows you to see which pairs have the **highest correlation**, the pairs which are highly correlated represent the same variance of the dataset thus we can further analyze them to understand which attribute among the pairs are most significant for building the model.


- **Correlation** value lies between **-1 to +1.**


- **Highly correlated** variables will have correlation value **close to +1**


- **Less correlated** variables will have correlation value **close to -1**


- The **diagonal elements** of the matrix value are **always 1** as we are finding the **correlation between the same columns**

### Analysis of Relationship between variables

   a. Heatmap

   b. pairplot

   c. relplot