https://www.youtube.com/watch?v=LlSbe2lz6mY

## Indexing

In [1]:
import pandas as pd

In [4]:
data = {'rollno':[101,102,103,104,105],'english':[60,50,70,40,60],'science':[67,56,67,78,87],'Maths':[40,50,45,56,54]}
df=pd.DataFrame(data,index=['john','mac','henry','raj','rajesh'])
df

        rollno  english  science  Maths
john       101       60       67     40
mac        102       50       56     50
henry      103       70       67     45
raj        104       40       78     56
rajesh     105       60       87     54

<h3 style="color:blue" align="left"> 1. loc : Label based accessing function (Label Index) </h3>

#### Whenever want to access data with the help of label, wether it is "Row Label or Column Label"

<h3 style="color:green" align="left"> Selecting a single row </h3>

In [5]:
df.loc['john']

rollno     101
english     60
science     67
Maths       40
Name: john, dtype: int64

<h3 style="color:green" align="left"> Selecting multiple rows </h3>

In [7]:
df.loc[['john','mac']]

      rollno  english  science  Maths
john     101       60       67     40
mac      102       50       56     50

<h3 style="color:green" align="left"> Selecting Row & Column </h3>

In [9]:
df.loc[['john','mac'],['english']]

      english
john       60
mac        50

<h3 style="color:green" align="left"> Slicing Rows </h3>

In [10]:
df.loc['john':'raj']

       rollno  english  science  Maths
john      101       60       67     40
mac       102       50       56     50
henry     103       70       67     45
raj       104       40       78     56

<h3 style="color:green" align="left"> Slicing Rows & Columns </h3>

In [11]:
df.loc['john':'raj','english':'science']

       english  science
john        60       67
mac         50       56
henry       70       67
raj         40       78

In [20]:
df.loc['john':'henry','rollno':'science']

       rollno  english  science
john      101       60       67
mac       102       50       56
henry     103       70       67

<h3 style="color:blue" align="left"> 2. iloc : Position based function (Positional Index) </h3>

In [12]:
df.iloc[0]

rollno     101
english     60
science     67
Maths       40
Name: john, dtype: int64

In [13]:
df.iloc[0,1]

60

In [14]:
df.iloc[0:3,0:3]

       rollno  english  science
john      101       60       67
mac       102       50       56
henry     103       70       67

-------------------------------------------------------------------------------------------------------------------------------

Below both statements gives same result:

----------------------------------------------------------------------------------------------

       df.loc['john']                                      # Using loc
       
       df.iloc[0]                                          # Using iloc

----------------------------------------------------------------------------------------------

       df.loc['john':'henry','rollno':'science']           # Using loc

       df.iloc[0:3,0:3]                                    # Using iloc

<img src="loc_iloc_1.JPG" height="400" width="400" />