In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

### Rename Columns

In [4]:
df.rename(columns={"A": "a", "B": "c"})

   a  c
0  1  4
1  2  5
2  3  6

### Rename Rows

In [5]:
df.rename(index={0: "x", 1: "y", 2: "z"})

   A  B
x  1  4
y  2  5
z  3  6