##### **1) When the row index DataFrame is digital type time**

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(10)

df = pd.DataFrame(np.random.randint(0,100,size=(100, 5)), columns=list('ABCDE'))
df.head()

    A   B   C   D   E
0   9  15  64  28  89
1  93  29   8  73   0
2  40  36  16  11  54
3  88  62  33  72  78
4  49  51  54  77  69

In [ ]:
# reservations odd rows, even rows deleted
df1 = df[df.index%2==0]
df1

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

In [ ]:
# retained even rows, delete odd lines
df2 = df[df.index%2==1]
df2

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

##### **2) When the row index DataFrame when not in digital format**

In [ ]:
df3 = df[[i%2==0 for i in range(len(df.index))]]
df3

Empty DataFrame
Columns: []
Index: []

In [ ]:
df4 = df[[i%2==1 for i in range(len(df.index))]]
df4

Empty DataFrame
Columns: []
Index: []

##### **3) Screening of odd-numbered columns, even column**

In [ ]:
df5 = df.iloc[:,[i%2==0 for i in range(len(df.columns))]]
df5

Empty DataFrame
Columns: []
Index: []

In [ ]:
df6 = df.iloc[:,[i%2==1 for i in range(len(df.columns))]]
df6

##### **4) How to filter column with even numbers?**

In [ ]:
df = df[df['B'] % 2 == 0]
df.head()

     A   B   C   D   E
2   40  36  16  11  54
3   88  62  33  72  78
6   30  30  89  12  65
9   11  28  74  88   9
10  15  18  80  71  88

-----------