https://www.youtube.com/watch?v=0ZvaDa8eT5s&ab_channel=Telusko

https://www.youtube.com/watch?v=elVELMWO9-Q&ab_channel=JoeJames

## 1. List
- **iterate through each item in a list**

In [2]:
myList = [1, 2, 3, 4, 5]
myList[0] = 10
for x in myList:
    print(x)

10
2
3
4
5

In [5]:
colors = ['red', 'blue', 'green']

for x in colors:
    print(x)

red
blue
green

In [2]:
x = ['NAVIN',10,15,5,0,1,2,3]

for i in x:
    print(i)

NAVIN
10
15
5
0
1
2
3

In [8]:
count = [1,2,3,4,5]

for i in count:
    print(i, '^2 =', i*i)

1 ^2 = 1
2 ^2 = 4
3 ^2 = 9
4 ^2 = 16
5 ^2 = 25

In [1]:
List = [1,5,6,1,6,7,8,9,11,12,5]

for eachNumber in List:
    print(eachNumber)

1
5
6
1
6
7
8
9
11
12
5

In [3]:
List = [1,5,6,1,6,7,8,9,11,12,5]

for eachNumber in List:
    print(eachNumber)
    
print('continue program')

1
5
6
1
6
7
8
9
11
12
5
continue program

In [2]:
List = [1,5,6,1,6,7,8,9,11,12,5]

for eachNumber in List:
    print(eachNumber)
    print('continue program')

1
continue program
5
continue program
6
continue program
1
continue program
6
continue program
7
continue program
8
continue program
9
continue program
11
continue program
12
continue program
5
continue program

In [1]:
List = [["Harry",1], ["Larry",2],["Carry",5],["Marie",10]]

for item in List:
    print(item)

['Harry', 1]
['Larry', 2]
['Carry', 5]
['Marie', 10]

In [2]:
List = [["Harry",1], ["Larry",2],["Carry",5],["Marie",10]]

for item, Lollypop in List:
    print(item, Lollypop)

Harry 1
Larry 2
Carry 5
Marie 10

## 2. Range
- Range returns a list of integers

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(4,6):
    print(i)

4
5

In [6]:
for i in range(11,21,1):
    print(i)

11
12
13
14
15
16
17
18
19
20

In [7]:
for i in range(11,21,5):
    print(i)

11
16

In [9]:
for x in range(5):
    print(x+100)

100
101
102
103
104

In [8]:
for i in range(3,21):
    if i%5 !=0:
        print(i)

3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [5]:
for number in range(3):
    print("Attempt:", number)

Attempt: 0
Attempt: 1
Attempt: 2

In [6]:
for number in range(3):
    print("Attempt:", number+1)

Attempt: 1
Attempt: 2
Attempt: 3

In [7]:
for number in range(3):
    print("Attempt:", number+1, (number+1)*".")

Attempt: 1 .
Attempt: 2 ..
Attempt: 3 ...

In [8]:
sum = 0
for i in range(10):
    sum = sum + i
    print(sum)

0
1
3
6
10
15
21
28
36
45

In [9]:
sum = 0
for i in range(10):
    sum = sum + i
    
print(sum)

45

------------------

In [3]:
x = 'NAVIN'

for i in x:
    print(i)

N
A
V
I
N

In [4]:
for letter in 'word':
    print(letter)

w
o
r
d

In [3]:
x = 1
for letter in 'word':
    print(x)
    x+=2

1
3
5
7

------------------

In [4]:
num = int(input("Number:"))
factorial = 1

if num < 0:
    print("must be positive")
    
elif num == 0:
    print("factorial = 1")
    
else:
    for i in range (1,num + 1):
        factorial = factorial*i
        
print(factorial)

Number:5
120

--------------------------

In [8]:
successful = False
for number in range(3):
    print("Attempt")
    if successful:
        print("Successful")
        break
else:
    print("Attempted 3 times and failed")

Attempt
Attempt
Attempt
Attempted 3 times and failed

In [9]:
successful = True
for number in range(3):
    print("Attempt")
    if successful:
        print("Successful")
        break
else:
    print("Attempted 3 times and failed")

Attempt
Successful

------

In [3]:
# [1,2,3] ---> 6
count = 0
for number in range(1,4):
    count = count + number   # new_count = old_count + number
    
print(count)

6

count = 0
count = 0 + 1 = 1

count = 1
count = 1 + 2 = 3

count = 3
count = 3 + 3 = 6

In [5]:
# write a function that sums all elements of a list and return them
def sum_list(my_list):
    count = 0
    for number in my_list:
        count = count + number
        
    return count
print(sum_list([1,2]))

3

-------------------

-----------------

---------------------