In [ ]:
CityList = ['Hyderabad', 'Vizag', 'Bangalore', 'Chennai']

for city in CityList:
  if city == "Bangalore":
    continue
  print(city)

Hyderabad
Vizag
Chennai

## **Print square of numbers between 1 to 5 EXCEPT even numbers**

In [ ]:
for i in range(1,6):
  if i%2 == 0:
    continue
  print(i*i)

1
9
25