# List : Example

In [ ]:
# Python List Methods
# Methods that are available with list object 

# Are accessed as list.method(). 
'''
append() - Add an element to the end of the list
extend() - Add all elements of a list to the another list
insert() - Insert an item at the defined index
remove() - Removes an item from the list
pop() - Removes and returns an element at the given index
clear() - Removes all items from the list
index() - Returns the index of the first matched item
count() - Returns the count of number of items passed as an argument
sort() - Sort items in a list in ascending order
reverse() - Reverse the order of items in the list
copy() - Returns a shallow copy of the list
'''

In [ ]:
# make changes to list
shoplist[1] = "new item"
print(shoplist[:])

In [2]:
nums = [25,12,36,95,14]
nums

[25, 12, 36, 95, 14]

# Min

In [6]:
min(nums)

12

# Max

In [7]:
max(nums)

95

# Sum

In [8]:
sum(nums)

182

# List : Slicing

In [31]:
#List

courses = ['History','Math','Physics','CompSci']
courses_2 = ['Art','Education']
courses

['History', 'Math', 'Physics', 'CompSci']

In [11]:
# Index prints 0 & 1; but not including 2

courses[0:2]

['History', 'Math']

In [13]:
# Index prints 0 & 1; but not including 2
# courses[0:2] and courses[:2] both will give same output

courses[:2]

['History', 'Math']

In [14]:
# Slicing all the way to end

courses[2:]

['Physics', 'CompSci']

# Replace

In [3]:
List1 = ["apple","banana","cherry"]
List1

['apple', 'banana', 'cherry']

In [4]:
# "cherry" replaces with "orange"

List1[2] = "orange"
List1

['apple', 'banana', 'orange']

# Insert

In [30]:
# First specify Location to insert & later what to insert

courses.insert(0, 'Art')
courses

['Art', 'History', 'Math', 'Physics', 'CompSci', 'Art']

In [32]:
courses.insert(0, courses_2)
courses

[['Art', 'Education'], 'History', 'Math', 'Physics', 'CompSci']

# Extend / Append

In [44]:
# # append to list
# add one item to a list using append() method or 
# add several items using extend()

shoplist_appe = ['apple', 'mango', 'carrot', 'banana']
print('\nI also have to buy rice.')
shoplist_appe.append('rice')
print('My shopping list is now', shoplist_appe)

I also have to buy rice.
My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'rice']

In [45]:
shoplist_appe.extend(['table', 'chair', 'pen'])
print('My shopping list is now', shoplist_appe)

My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'rice', 'table', 'chair', 'pen']

In [41]:
courses_3 = ['History','Math','Physics','CompSci']
courses_4 = ['Art','Education']
courses_3

['History', 'Math', 'Physics', 'CompSci']

In [39]:
courses_4

['Art', 'Education']

In [64]:
courses_3.append(courses_4)
courses_3

['History',
 'Math',
 'Physics',
 'CompSci',
 'Art',
 'Education',
 ['Art', 'Education']]

In [65]:
courses_3.extend(courses_4)
courses_3

['History',
 'Math',
 'Physics',
 'CompSci',
 'Art',
 'Education',
 ['Art', 'Education'],
 'Art',
 'Education']

In [46]:
print(sorted(shoplist))

['apple', 'banana', 'carrot', 'chair', 'chair', 'mango', 'pen', 'pen', 'table', 'table']

# Concatenation

In [38]:
# use + operator to combine two lists. This is also called concatenation.

shoplist1 = ['apple', 'mango', 'carrot', 'banana']
shoplist2 = ['a', 'b', 'c']

shoplist_conc = shoplist1 + shoplist2
print('My shopping list is now', shoplist_conc)

My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'a', 'b', 'c']

# Remove

In [68]:
courses_0 = ['History','Math','Physics','CompSci']
courses_0

['History', 'Math', 'Physics', 'CompSci']

In [69]:
courses_0.remove('Math')
courses_0

['History', 'Physics', 'CompSci']

# Delete (permanent deletion from the memory)

In [50]:
# delete a list item

shoplist_del = ['apple', 'mango', 'carrot', 'banana']
print('The first item I will buy is', shoplist_del[0])
olditem = shoplist_del[0]
del shoplist_del[0]
print('I bought the', olditem)
print('My shopping list is now', shoplist_del)

The first item I will buy is apple
I bought the apple
My shopping list is now ['mango', 'carrot', 'banana']

# Pop
# 1. It removes last element
# 2. removes element but it does not removes from the memory

In [70]:
# Pop command also removes element but it does not removes from the memory

courses_0.pop()
courses_0

['History', 'Physics']

In [71]:
courses_0.append('CompSci')
courses_0

['History', 'Physics', 'CompSci']

In [72]:
popped = courses_0.pop()
popped

'CompSci'

# Reverse

In [73]:
courses_11 = ['History','Math','Physics','CompSci']
courses_11

['History', 'Math', 'Physics', 'CompSci']

In [75]:
courses_11.reverse()
courses_11

['CompSci', 'Physics', 'Math', 'History']

# Sort

In [77]:
# for strings arranges in alphabetical order
# for numbers arranges in ascending order

courses_11.sort()
courses_11

['CompSci', 'History', 'Math', 'Physics']

In [78]:
# for stringes & numbers arranges in descending order

courses_11.sort(reverse=True)
courses_11

['Physics', 'Math', 'History', 'CompSci']

In [84]:
sorted(courses_11)

['CompSci', 'History', 'Math', 'Physics']

In [85]:
sorted_courses = sorted(courses_11)
sorted_courses

['CompSci', 'History', 'Math', 'Physics']

# in

In [94]:
'Math' in courses_11

True

# not in

In [95]:
'Math' not in courses_11

False

# Join

In [11]:
item_str = ', '.join(List)
print(item_str)

History, Math, Physics, CompSci

In [13]:
item_str = ' - '.join(List)
print(item_str)

History - Math - Physics - CompSci

# Split

In [15]:
new_list = item_str.split(' - ')
print(new_list)

['History', 'Math', 'Physics', 'CompSci']

# Print in Single or Multiple lines

In [10]:
print('These items are:')

These items are:

In [13]:
print('These items are:', end=' ')

These items are:

In [14]:
print("aayushi")
print ("data science")

aayushi
data science

In [15]:
print("aayushi",end = " ")
print ("data science")

aayushi data science

# Printing sentence in new line

In [23]:
# By default python’s print() function ends with a newline. 
# how to print without newline.

# Python’s print() function comes with a parameter called ‘end’. 
# By default, the value of this parameter is ‘\n’, i.e. the new line character. 
# You can end a print statement with any character/string using this parameter.
# ends the output with a <space> 
print("Welcome to" , end = ' ') 
print("GeeksforGeeks", end = ' ')

Welcome to GeeksforGeeks

In [27]:
print('I also have to buy rice.\n')

I also have to buy rice.

In [34]:
print('\nI also have to buy rice.')

I also have to buy rice.

In [35]:
print('I also have to buy rice.', end=' ')

I also have to buy rice.

In [33]:
print('\nI also have to buy rice.')
shoplist.append('rice')
print('My shopping list is now', shoplist)

I also have to buy rice.
My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'rice']

# for loop

In [7]:
List = ['History','Math','Physics','CompSci']
for item in List:
    print(item)

History
Math
Physics
CompSci

In [10]:
for index,item in enumerate(List):
    print(index,item)

0 History
1 Math
2 Physics
3 CompSci

In [16]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
print('I have', len(shoplist), 'items to purchase.')

I have 4 items to purchase.

In [17]:
for item in shoplist:
    print(item)

apple
mango
carrot
banana

In [21]:
for item in shoplist:
    print(item, end=' ')

apple mango carrot banana

In [22]:
print('These items are:', end=' ')
for item in shoplist:
    print(item, end=' ')

These items are: apple mango carrot banana