https://medium.com/python-in-plain-english/cleaning-data-in-python-data-types-46f9ebf2feef

### Cleaning Data in Python (Data Types)

#### A simple explanation of manipulating data types using pandas

In [1]:
import pandas as pd

In [14]:
data = {'Name': ['Joe','Liz','Kristen'], 
        'Sex': ['Male','Female','Female'], 
        'Age': [30,32,'-'] 
} 
df = pd.DataFrame(data, ['Name','Sex','Age'])

In [15]:
df

         Name     Sex Age
Name      Joe    Male  30
Sex       Liz  Female  32
Age   Kristen  Female   -

In [16]:
df.dtypes

Name    object
Sex     object
Age     object
dtype: object

#  We will do three things for this data:

     1. We will find a solution for the string value in a numeric column so that when we print out the data types,
     
        it gives us a better picture of the column.
        
     2. We will learn about categorical data type and how to convert a column to a categorical data.
     
     3. We will convert the name data type from object to string using the method that we will you in the second step.

<h2 style="color:blue" align="left"> 1. To Numeric Method </h2>

- Numeric data is loaded as a string in our dataframe. (For example in our data, age of Kristen is loaded as “-” which is a string in this case)
   
- Since there is an empty value “-” in Age column, the dataframe doesn’t see that value as empty but it sees it as a string and this effects the data type of the whole column.
   
- We will use to_numeric method to convert the column data type and fill not numeric values with NaN, which means Null.

In [17]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce') 
df.dtypes

Name     object
Sex      object
Age     float64
dtype: object

In [18]:
df

         Name     Sex   Age
Name      Joe    Male  30.0
Sex       Liz  Female  32.0
Age   Kristen  Female   NaN

#### As you can see, now our Age column is float data type, which gives a better picture of the column.

<h2 style="color:blue" align="left"> 2. Categorical Data Type </h2>

- Can make your dataframe much smaller in memory

- Can make the your data to be utilized by different Python libraries for analysis

- For our data, Sex column’s data type is object, and if we convert to categorical data type it will help us in the future when   we start playing with the data.

In [21]:
df['Sex'] = df['Sex'].astype('category')
df.dtypes

Name      object
Sex     category
Age      float64
dtype: object

<h2 style="color:blue" align="left"> 3. Converting Data Type </h2>

#### In this step, we will convert Name column data type from object to string.

In [24]:
import numpy as np

In [27]:
df['Name'] = df['Name'].astype('string') 
df.dtypes

TypeError: data type 'string' not understood